{% extends "base.html" %}

{% block header %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Confusion matrix</h1>
    <p class="lead">Here you can find out the recognition accuracy.</p>
</div>
{% endblock %}


{% block content %}
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Normalized Confusion Matrix For Train Set</h4>
                </div>
                <div class="card-body">
                    <div id="container_train"></div>                    
                </div>                
            </div>
            <div class="w-100"></div>
            <div class="card-body">
                <div class="alert alert-primary" role="alert">
                    Accuracy For Train Set: {{ accuracyTrain }}
                </div>
            </div>
            <div class="w-100"></div>
        </div>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Normalized Confusion Matrix For Test Set</h4>
                </div>
                <div class="card-body">
                    <div id="container_test"></div>                    
                </div>                
            </div>
            <div class="w-100"></div>
            <div class="card-body">
                <div class="alert alert-primary" role="alert">
                    Accuracy For Test Set: {{ accuracyTest }}
                </div>
            </div>
            <div class="w-100"></div>
        </div>
    </div>   
	<script src="./static/js/matrix.js"></script>

    <script>
        let labels = {{ classes|safe }};

		let confusionMatrixTrain = {{ matrixTrain|safe }};		
		Matrix({
			container : '#container_train',
			data      : confusionMatrixTrain,
			labels    : labels
        });
        
        let confusionMatrixTest = {{ matrixTest|safe }};		
		Matrix({
			container : '#container_test',
			data      : confusionMatrixTest,
			labels    : labels
		});
	</script>
{% endblock %}